.stepOne {
    margin-left: 10px;
    background-color: rgb(158, 158, 158);
    width: 700px;
    height: 700px;
    border-radius: 10px 10px 10px 10px;
    position: relative;
}

.header {
    margin: 0;
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.currentStepHeader {
    margin: 0;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.stepOne form {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 0 auto;
    width: 500px;
    height: 510px;
    position: relative;
}

.stepOne label {
    width: 300px;
    height: 30px;
    margin: 0;
    margin-left: 150px;
    margin-top: 25px;
    font-size: 20px;
}

.stepOne span {
    color: red;
}

.stepOne input {
    width: 200px;
    height: 30px;
    margin: 0 auto;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: rgb(136, 136, 136);
    font-size: 20px;
}

.stepOne input::placeholder {
    color: rgba(0, 0, 0, 0.3)
}

.buttonBox {
    width: 500px;
    margin: 0 auto;
}

.stepOne button {
    margin: 0 auto;
    margin-top: 40px;
    display: block;
    width: 200px;
    height: 30px;
    font-size: 18px;
    background-color: rgb(136, 136, 136);
    border: none;
    border-radius: 20px;
}

.stepOne button:hover {
    cursor: pointer;
}

.description {
    margin: 0;
    margin-top: 20px;
    text-align: center;
}

/* errors */

.error {
    position: absolute;
    color: red;
    margin: 0;
    width: 500px;
    text-align: center;
}

.firstNameError {
    top: 85px;
}

.lastNameError {
    top: 170px;
}

.emailError {
    top: 255px;
}

.passwordError {
    top: 350px;
}

.secondPasswordError {
    top: 435px;
}

/* password level */


.passwordLevelBox {
    width: 500px;
}

.passwordLevel {
    margin: 0 auto;
    width: 200px;
    height: 10px;
}

.empty {
    background-image: url(../../../../public/password_strength/empty.png);
}

.low {
    background-image: url(../../../../public/password_strength/low.png);
}

.average {
    background-image: url(../../../../public/password_strength/average.png);
}

.strong {
    background-image: url(../../../../public/password_strength/strong.png);
}