.navBox {
    margin-right: 10px;
    background-color: rgb(136, 136, 136);
    width: 150px;
    height: 500px;
    border-radius: 10px 10px 10px 10px;
}

.navBox a {
    font-size: 20px;
    font-weight: lighter;
    line-height: 1.5;
    text-align: center;
    color: rgb(255, 255, 255);
    display: block;
    text-decoration: none;
}

.navBox a:hover {
background-color: rgba(0, 0, 0, 0.1)
}

.nav{
    margin-top: 20px;
}