.App {
    background-color: rgb(177, 177, 177);
    height: 100vh;
}


.wrapper {
    padding-top: 20px;
    display: flex;
    margin: 0 auto;
    width: 870px;
}

.nav {
    margin-right: 10px;
    background-color: rgb(136, 136, 136);
    width: 150px;
    height: 500px;
}

.content {
    margin-left: 10px;
    background-color: rgb(158, 158, 158);
    width: 800px;
    height: 500px;
}