.profileBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: rgb(158, 158, 158);
    width: 700px;
    overflow: auto;
    border-radius: 10px 10px 10px 10px;
}