.postsBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-start;
    width: 410px;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 10px 10px 10px 10px;
}
