.users {
    background-color: rgb(158, 158, 158);
    width: 700px;
    height: 1200px;
    border-radius: 10px 10px 10px 10px;
}

.noUsersText {
    margin: 0;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}

.preloader {
    width: 500px;
    height: 500px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.preloader img {
    width: 100px;
    height: 100px;
}

/* -------------------- upperNavigationBox --------------------  */

.upperNavigationBox {
    display: flex;
    margin: 0 auto;
    position: relative;
    width: 600px;
    height: 60px;
}

.searchBox {
    position: relative;
    width: 300px;
    height: 30px;
}

.search {
    width: 300px;
    height: 30px;
    font-size: 20px;
    border-radius: 15px;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 40px;
    box-sizing: border-box;
    background-color: rgb(136, 136, 136);
    border: none;
    outline: none;
}

.search::placeholder {
    color: rgb(184, 184, 184);
}

.searchBox button {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(136, 136, 136);
    background-image: url(../../../public/icons/loupe.png);
    border: none;
    right: 0;
    top: 30px;
}

.searchBox button:hover {
    cursor: pointer;
}

.pagesNavBox {
    display: flex;
    justify-content: flex-end;
    width: 250px;
    height: 30px;
    margin-top: 30px;
    margin-left: 50px;
}

.pagesBox {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 30px;
}

.page,
.left,
.right,
.gap {
    width: 25px;
    height: 30px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pagesNavBox p {
    margin: 0;
    text-align: center;
    margin-top: 3px;
    font-weight: bold;
}

.page:hover,
.left:hover,
.right:hover {
    cursor: pointer;
    background-color: rgb(136, 136, 136);
}

.hidden {
    display: none;
}

.currentPage {
    background-color: rgb(136, 136, 136);
}

/* -------------------- userItemsBox -------------------- */

.userItemsBox {
    margin: 0 auto;
    width: 500px;
    height: 1050px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.userItem {
    margin: 0 auto;
    margin-top: 30px;
    width: 500px;
    height: 75px;
    background-color: rgb(136, 136, 136);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
}

.userItem:hover {
    cursor: pointer;
    outline: 2px solid rgb(100, 100, 100);
}

.avatarBox {
    width: 75px;
    height: 75px;
    display: flex;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
}

.avatarDefault {
    height: 75px;
    width: 75px;
    background-image: url(../../../public/incognito/incognito-small.png);
    background-color: rgb(136, 136, 136);
    border-radius: 10px 10px 10px 10px;
}

.avatar {
    object-fit: cover;
    display: block;
    height: 100%;
    width: 100%;
}

.mainInfo {
    width: 350px;
    height: 75px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.fullname {
    margin: 0;
    margin-left: 20px;
    margin-top: 10px;
    width: 330px;
    height: 20px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(34, 34, 34);
}

.status {
    margin: 0;
    margin-left: 20px;
    margin-top: 5px;
    width: 330px;
    height: 20px;
    font-size: 18px;
    color: rgb(34, 34, 34);
    font-size: 16px;
    font-style: italic;
}

.moreInfo {
    width: 75px;
    height: 75px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.age {
    margin: 0;
    margin-top: 10px;
    width: 75px;
    height: 20px;
    font-size: 16px;
    color: rgb(34, 34, 34);
}

.country {
    margin: 0;
    margin-top: 10px;
    width: 75px;
    height: 20px;
    font-size: 16px;
    color: rgb(34, 34, 34);
}

/* -------------------- bottomNavigationBox -------------------- */

.bottomNavigationBox {
    width: 700px;
    height: 90px;
}

.pagesNavBox2 {
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    width: 250px;
    height: 30px;
}

.pagesBox2 {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 30px;
}

.pagesNavBox2 p {
    margin: 0;
    text-align: center;
    margin-top: 3px;
    font-weight: bold;
}