.footerBlock {
grid-area: footer;
background-color: rgb(188, 143, 143);
margin: 10px;
position: relative;
}

.footerBlock a {
    text-align: center;
   text-decoration: none;
   position: absolute;
   left: 0;
   right: 0;
   top: 30%;
    }
    .footerBlock p {
        text-align: center;
       text-decoration: none;
       position: absolute;
       left: 0;
       right: 0;
       top: 30%;
        }
