.dialog{
color: #5265f6;
font-size: 20px;
padding-left: 20px;
text-decoration: none;
position: relative;
display: flex;
margin-bottom: 30px;
}

.dialog img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.dialog p {
padding-left: 10px;
}
