
.item {
    color: rgb(0, 0, 0);
    display: flex;
    margin-top: 20px;
    height: 80px;
    position: relative;
    border: 1px solid rgb(93, 93, 93);
    border-radius: 50px;
}

.item img:first-child {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    outline: 4px solid rgb(93, 93, 93);

}

.item img:nth-of-type(2n) {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 30px;
    bottom: 5px;
}

.item img:nth-of-type(2n):hover {
opacity: .8;
}

.item span {
    position: absolute;
    right: 55px;
    bottom: 5px;
}

.item p {
    position:absolute;
    left: 85px;
    font-size: 16px;
    margin:0;
}
