
.FriendItemBlock {
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    position: relative;
}

.FriendItemBlock img{
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.FriendItemBlock p{
    padding-left: 10px;
   padding-top: 25px;
   margin: 0;
   display: inline;

}
