.usersBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: rgb(158, 158, 158);
    width: 700px;
    height: 1200px;
    border-radius: 10px 10px 10px 10px;
}

.preloaderBox {
    width: 500px;
    height: 500px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.preloaderBox img {
    width: 100px;
    height: 100px;
}