.loginBox {
    margin: 0 auto;
    background-color: rgb(158, 158, 158);
    width: 700px;
    height: 500px;
    border-radius: 10px 10px 10px 10px;
    position: relative;
}

.header {
    margin: 0;
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.successRegistrationHeader {
    margin: 0;
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: rgb(0, 104, 0);
}

.successRegistrationDescription {
    margin: 0;
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    box-sizing: border-box;
}

.loginBox form {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 0 auto;
    margin-top: 30px;
    height: 280px;
    width: 500px;
    position: relative;
}

.loginBox label {
    width: 300px;
    height: 30px;
    margin: 0;
    margin-left: 150px;
    margin-top: 30px;
    font-size: 20px;
}

.loginBox input {
    width: 200px;
    height: 30px;
    margin: 0 auto;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: rgb(136, 136, 136);
    font-size: 20px;
}

.loginBox input::placeholder {
    color: rgba(0, 0, 0, 0.3)
}

.buttonBox {
    display: flex;
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
}

.loginBox button {
    margin: 0 auto;
    margin-top: 20px;
    display: block;
    width: 200px;
    height: 30px;
    font-size: 18px;
    background-color: rgb(136, 136, 136);
    border: none;
    border-radius: 20px;
}

.loginBox button:hover {
    cursor: pointer;
}

.description {
    margin: 0;
    text-align: center;
}

.loginBox a {
    text-decoration: none;
}

.preloader {
    width: 500px;
    height: 500px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.preloader img {
    width: 100px;
    height: 100px;
}

/* errors */

.error {
    position: absolute;
    color: red;
    margin: 0;
    width: 500px;
    text-align: center;
}

.loginError {
    top: 95px;
}

.passwordError {
    top: 185px;
}

.invalidAuthError {
    top: 185px;
}